<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Memorybench</title>
</head>
<body>
    <h1>Editing a Memorybench</h1>

    <form action="/memorybench/<%= memorybench._id %>?_method=PUT" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="memorybench[title]" value = "<%= memorybench.title %>" >
        
        <br>

        <label for="location">Location</label>
        <input type="text" id="location" name="memorybench[location]" value = "<%= memorybench.location %>" >
        
        <br>

        <button>Update Memorybench</button>
    </form>

    <a href="/memorybench/<%= memorybench._id %>">Back to Memorybench</a>

</body>
</html>