<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Memory-Bench</title>
</head>
<body>
    <h1>Add you new memory bench</h1>

    <form action="/memorybench" method="POST">
    
        <label for="title">Title</label>
        <input type="text" id="title" name="memorybench[title]">
        
        <br>

        <label for="location">Location</label>
        <input type="text" id="location" name="memorybench[location]">
        
        <br>

        <button>add</button>

    </form>

    <div>
        <a href="/memorybench">Cancel</a>
    </div>

</body>
</html>